* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #020617, #0b1c3d, #0a3d62);
  color: #fff;
}

/* NAV */
header {
  position: fixed;
  width: 100%;
  padding: 15px 40px;
  background: rgba(2, 6, 23, 0.95);
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo { color: #38bdf8; }

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* SECTIONS */
section {
  padding: 100px 10%;
  text-align: center;
}

/* HOME */
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-card {
  background: rgba(255,255,255,0.15);
  padding: 40px;
  border-radius: 25px;
  backdrop-filter: blur(12px);
  max-width: 420px;
}

/* PHOTO STYLE */
.profile-img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #38bdf8;
  margin-bottom: 15px;
}

/* BUTTONS */
.btn {
  padding: 10px 22px;
  background: #38bdf8;
  color: #000;
  border-radius: 25px;
  text-decoration: none;
  margin: 5px;
  display: inline-block;
}

.secondary {
  background: transparent;
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

/* SKILLS */
.skills span {
  display: inline-block;
  padding: 10px 16px;
  margin: 8px;
  background: rgba(255,255,255,0.2);
  border-radius: 20px;
}

/* PROJECTS */
.project {
  background: rgba(255,255,255,0.15);
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  max-width: 600px;
}

footer {
  background: #020617;
  padding: 15px;
}
